/*
BLUE: #195A7C
ORANGE: #EF9A00
*/

.featured-img, .featured-links {
  margin-bottom: 15px;
}

.featured-links a {
  font-size: 16px;
}

.product-top-info {
  margin-bottom: 3rem !important;
}

.product-specs {
  font-size: 16px !important;
  letter-spacing: .7px;
  margin-bottom: 5px !important;
}

.product-note {
  font-size: 14px !important;
  margin-top: 15px !important;
}

#priceButton, .priceButton {
  border: 1px solid #195a7c;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  background-color: rgba(0,0,0,.1);
  color: #ef9a00;
  font-size: 13px;
  padding: 1px 25px;
  letter-spacing: .7px;
  font-weight: 600;
  -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  margin-left: 15px;
}

#priceButton:hover, .priceButton:hover {
  cursor: pointer;
  background-color: #195a7c;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.demo-btn {
  background-color: #ef9a00;
  border: none;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 30px;
  margin-top: 15px;
  letter-spacing: .7px;
  color: #ffffff;
  font-size: 13px;
  border-radius: 8px;
  -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}
.demo-btn:hover {
  background-color: #195a7c;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* .first-section {
  margin-bottom: 3rem;
} */

.product-features {
   letter-spacing: .7px;
   margin-bottom: 1.5rem;
}

.info-section {
  margin-bottom: 3rem !important;
}

/* Responsive */
@media (max-width: 992px) {

  p {
    font-size: 16px !important;
  }

  .product-note {
    font-size: 13px !important;
  }

}

@media (max-width: 575px) {

  /* .product-note, .first-section, .product-top-info, .row-section {
    margin-bottom: 1.5rem !important;
  } */

  .info-section, .top-img, .product-note {
    margin-bottom: 1.5rem !important;
  }

  .featured-img {
    margin-bottom: 0px !important;
  }

}
