/*
BLUE: #195A7C
ORANGE: #EF9A00
*/

.center {
  text-align: center !important;
}

.navbar.navbar-transparent, .navbar {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgb(25, 90, 124) 100%);
}

.nav {
  display: block !important;
  padding-left: 0;
  list-style: none;
}

.navbar.navbar-transparent {
  color: #ffffff;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar {
  border: none !important;
  box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 1px 10px -6px rgba(0, 0, 0, 0.42), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px -2px rgba(0, 0, 0, 0.1) !important;
  border-radius: 0;
  position: fixed;
  padding: 0;
  transition: none;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar.center > .container {
  flex-direction: column;
}

.navbar > .container {
  display: flex;
  padding-top: 25px !important;
  transition: padding 0.1s ease;
  padding: 10px 15px;
  vertical-align: middle;
  align-items: center;
}

.container {
  max-width: 100%;
}

.navbar .navbar-collapse {
  border: none;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

.navbar.center .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#main-navigation ul.nav > li {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  visibility: visible;
}

.navbar .navbar-toggle {
  float: none;
  border: 0;
  margin-right: 0;
}


.navbar .navbar-toggle .icon-bar {
  border: 1px solid;
  transition: 0.3s ease;
  position: relative;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

#main-navigation ul li a {
  padding: 15px;
}

.nav > li a{
  display: block;
  position: relative;
  padding: 10px 15px;
}

.navbar .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 400;
}

.top-menu a {
  background: none !important;
  letter-spacing: .7px !important;
  font-size: 12pt;
  text-decoration: none !important;
  color: #ffffff;
}

.navbar-nav > li > a {
  line-height: 20px;
}

.navbar .navbar-nav > li:not(.btn) > a::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
  transition: all 300ms cubic-bezier(0.34, 0.9, 0.7, 1);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}

.navbar .navbar-nav > li:not(.btn):hover a:before {
  color: inherit;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar button.navbar-toggle {
	color: #ffffff;
}
.navbar button.navbar-toggle:hover {
	color: #ef9a00;
}

/* DROPDOWN SECTION */
.dropdown-menu {
  background-color: #195a7c;
}

.dropdown-item:hover {
  color: #ef9a00;
}

.open>.dropdown-menu{
  margin-top: initial;
}
/* Handles dropdown caret rotation on hover, not on mobile menu */
@media (min-width: 768px) {

  .open:hover .dropdown-toggle::after {
    transform: rotate(180deg);
  }
  .dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
  }

}

/*for the animation*/
.dropdown-toggle:after {
  transition: 0.5s;
}

/* RESPONSIVE NAVBAR */
.navbar-toggle-wrapper {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navbar button.navbar-toggle {
  color: #ffffff;
  background-color: transparent;
}

.navbar button.navbar-toggle:hover {
  color: #EF9A00;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background: transparent;
}

.navbar .navbar-toggle[aria-expanded=true] .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 6px;
}
.navbar .navbar-toggle[aria-expanded=true] .icon-bar:nth-child(2) {
  width: 0;
  opacity: 0;
}
.navbar .navbar-toggle[aria-expanded=true] .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -6px;
}
.navbar .navbar-toggle[aria-expanded=false] .icon-bar:nth-child(1), .navbar .navbar-toggle[aria-expanded=false] .icon-bar:nth-child(2), .navbar .navbar-toggle[aria-expanded=false] .icon-bar:nth-child(3) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
