@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  /* #selector {
    display: none;
  }

  #alphaUL {
    display: inline-flex !important;
  } */

}

@media (max-width: 1199px) {
  .main-raised {
    margin: -60px 15px 0;
  }

}

@media (min-width: 992px) {
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar .navbar-nav > li {
    margin: 0;
  }

  .sidebar-wrapper {
    float: left;
    position: static;
    background: transparent;
    left: 0 !important;
  }

}

@media (max-width: 991px) {
  .media-image, .social-icons {
		text-align: center;
	}

  .social-icons {
    margin-bottom: 37px !important;
  }

  .page-content-wrap {
    margin: 0px 30px;
  }

}

@media (max-width: 768px) {
  .dropdown-menu {
    position: static !important;
  }

  .page-content-wrap p {
    font-size: 16px;
  }

  .navbar.navbar-fixed-top .navbar-collapse {
    max-height: calc(100% - 70px);
    margin-top: 70px;
    overflow-y: auto;
    position: fixed;
    z-index: 9999;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: left !important;
  }

  .navbar > .container {
    transition: padding 0.1s ease;
    padding: 10px 15px;
    align-items: center;
    display: block;
  }

  .container .navbar-header {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  .header-filter.header-filter-gradient {
		min-height: 83px !important;
	}

  .main-raised {
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: 0px !important;
  }

  article {
    padding: 30px 0 !important;
  }

  .media-image {
		margin-top: 2.5rem;
	}

  .navbar.navbar-fixed-top .navbar-collapse {
		background-color: #195a7c;
	}

	.page-content-wrap {
		margin: 0px;
	}

	.boxed-layout-header.page-header.header-small  {
    min-height: 140px !important;
	}

  h1 {
    font-size: 34px !important;
  }

}

@media (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu {
    position: absolute !important;
  }

}

@media (max-width: 576px) {

  .table {
    font-size: 12px !important;
  }

  .signup-btn {
    font-size: 14px !important;
    padding: 8px 18px !important;
  }
}

@media (max-width: 351px) {

  .tier-th {
    min-width: 45px !important;
    padding: 2px !important;
  }
}
