@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}

@media (max-width: 1199px) {
  .main-raised {
    margin: -60px 15px 0;
  }

}

@media (min-width: 992px) {
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar .navbar-nav > li {
    margin: 0;
  }

  .sidebar-wrapper {
    float: left;
    position: static;
    background: transparent;
    left: 0 !important;
  }

}

@media (max-width: 991px) {
  .media-image, .social-icons {
		text-align: center;
	}

}

@media (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

}

/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }

} */

@media (max-width: 768px) {
  /* .navbar.navbar-transparent {
    background: #ffffff;
    color: #555;
  } */

  .navbar > .container {
    transition: padding 0.1s ease;
    padding: 10px 15px;
    align-items: center;
    display: block;
  }

  .container .navbar-header {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  .header-filter.header-filter-gradient {
		min-height: 83px !important;
	}

  .main-raised {
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: 0px !important;
  }

  article {
    padding: 30px 0 !important;
  }

  .media-image {
		margin-top: 2.5rem;
	}

  .navbar.navbar-fixed-top .navbar-collapse {
		background-color: #195a7c;
	}

	.page-content-wrap {
		margin-left: 0;
	}

	.boxed-layout-header.page-header.header-small  {
    min-height: 140px !important;
	}

  h1 {
    font-size: 34px !important;
  }

}

/* @media (min-width: 749px) {
  .container {
    max-width: 748px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 2000px;
  }
} */
