@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}

@media (min-width: 992px) {
  .navbar .navbar-collapse {
    text-align: center;
  }

  .navbar .navbar-nav > li {
    margin: 0;
  }

  .sidebar-wrapper {
    float: left;
    position: static;
    background: transparent;
    left: 0 !important;
  }

}

@media (max-width: 991px) {
  .media-image {
		text-align: center;
	}
  
}

@media (min-width: 769px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

}

@@media (max-width: 768px) {
  .header-filter.header-filter-gradient {
		min-height: 83px !important;
	}

  .media-image {
		margin-top: 2.5rem;
	}

  .navbar.navbar-fixed-top .navbar-collapse {
		background-color: #195a7c;
	}

	.page-content-wrap {
		margin-left: 0;
	}

	.boxed-layout-header.page-header.header-small  {
			min-height: 140px !important;
	}

  h1 {
    font-size: 34px !important;
  }

}
