/*
BLUE: #195A7C
ORANGE: #EF9A00
*/

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  direction: ltr;
  background-color: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.618;
  color: #195a7c;
}

.center {
  text-align: center !important;
}

a {
  color: #ef9a00;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:not(.btn) {
  transition: .3s ease;
}

ul {
  letter-spacing: .5px;
  line-height: 1.618;
}

button {
  margin: 10px 1px;
  white-space: normal;
  letter-spacing: 0;
  text-transform: uppercase;
  will-change: box-shadow,transform;
}

h1 {
  font-size: 36px !important;
}

p {
  letter-spacing: .5px;
}

u {
  text-decoration-color: #EF9A00;
}

button:focus {
  outline: none;
  border: none;
}
