<!-- To edit/add products, go to ../js/sewingList.js -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>BMT Micro Online Catalog</title>
  <meta name="keywords" content="shareware registration, ecommerce,
  software distribution, registration service, developer services, online
  sales, software registration service, credit card, key generator,
  trialware, demo, Windows, OS/2, Linux, BMT Micro, games, serial number,
  key code, Software, Sales, Order, Fullfillment, Reseller" />
  <meta name="description" content="BMT Micro, Inc. is the Software
  Developer's company of choice for product promotion, distribution,
  sales, order fulfillment and customer service. Featuring an Online
  Catalog with easy shopping!" />
  <meta name="robots" content="index,follow">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <link rel="stylesheet" href="../css/navbar.css" type="text/css">
  <link rel="stylesheet" href="../css/top-header.css" type="text/css">
  <link rel="stylesheet" href="../css/body.css" type="text/css">
  <link rel="stylesheet" href="../css/footer.css" type="text/css">
  <link rel="stylesheet" href="../css/responsive.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <style media="screen">
    .productUL {
      list-style-type: none !important;
      padding-left: 0;
    }

    .productUL li a {
      font-size: 18px;
    }
  </style>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25324401-1']);
    _gaq.push(['_setDomainName', 'none']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
<body>

  <div class="wrapper" ng-app="sewingCatalog" ng-controller="sewingCtrl">
    <header class="header">
      <nav class="navbar navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent center">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-toggle-wrapper">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="sr-only">Toggle Navigation</span>
              </button>
            </div>
          </div>
          <div id="main-navigation" class="collapse navbar-collapse" aria-expanded="false" style="height: 0px;">
            <ul id="menu-top-menu" class="nav navbar-nav">

              <li id="menu-item" class="top-menu menu-item">
                <a title="Home" href="../index.html">Home</a>
              </li>
              <li id="menu-item" class="top-menu menu-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" title="Catalog" href="catalog.html" style="color: #EF9A00;">Catalog</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a href="productList.html" class="dropdown-item">Product List</a>
                  <a href="" class="dropdown-item" style="color: #EF9A00;">Sewing Products</a>
                </div>
              </li>
              <li id="menu-item" class="top-menu menu-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" title="Catalog" href="#" aria-expanded="false">Developers</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a href="faqPage.html" class="dropdown-item">FAQ</a>
                  <a href="servicesPage.html" class="dropdown-item">Services</a>
                  <a href="signUp.html" class="dropdown-item">Signup Plans</a>
                  <a href="https://vendors.bmtmicro.com/NewSignup/new_developer-signup.html" class="dropdown-item" target="_blank">Signup Form</a>
                </div>
              </li>
              <li id="menu-item" class="top-menu menu-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" href="#" aria-expanded="false">Help</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a href="https://help.bmtmicro.com/customers/" target="_blank" class="dropdown-item">Customers</a>
                  <a href="https://help.bmtmicro.com/vendors/" target="_blank" class="dropdown-item">Vendors</a>
                </div>
              </li>
              <li id="menu-item" class="top-menu menu-item">
                <a title="Contact" href="contact.html">Contact</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div id="primary" class="boxed-layout-header page-header header-small" data-parallax="active">
      <div class="header-filter header-filter-gradient">
      </div>
    </div>

  <!-- Start of the actual body content -->
    <div class="main main-raised">
      <div class="content">
        <div class="container">
          <article class="section section-text">
            <div class="row justify-content-center">
              <div class="col-lg-3 col-md-12 sidebar-wrapper">
                <aside class="sidebar" id="secondary" role="complementary">
                  <div class="media-image">
                    <img src="../images/bmt-micro-logo.png" alt="BMT Micro, Inc." width="250" height="72" class="image attachment-full size-full" style="max-width: 100%; height: auto;">
                  </div>
                  <div class="social-icons">
                    <a href="https://www.facebook.com/bmt.micro" target="_blank">
                      <img src="../images/facebook-logo-circle-blue.png" alt="Facebook" title="Facebook">
                    </a>
                    <a href="https://www.linkedin.com/company/bmt-micro-wilmington-nc-usa/" target="_blank">
                      <img src="../images/linkedin-icon-logo-blue.png" alt="Linkedin" title="Linkedin">
                    </a>
                    <a href="https://twitter.com/BMTMicro" target="_blank">
                      <img src="../images/twitter-3-logo-blue.png" alt="Twitter" title="Twitter">
                    </a>
                    <a href="https://plus.google.com/+Bmtmicro" target="_blank">
                      <img src="../images/google-plus-blue.png" alt="Google Plus" title="Google+">
                    </a>
                    <a href="https://www.pinterest.com/bmtmicro/" target="_blank">
                      <img src="../images/pinterest-3-logo-png-blue.png" alt="Pinterest" title="Pinterest">
                    </a>
                  </div>
                </aside>
              </div>
              <div class="col-lg-8 col-md-10 page-content-wrap">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="page-title title-in-content">Sewing Products</h1>
                  </div>
                </div>
                <div ng-repeat="x in productsSewing | orderBy:'company'">
                  <ul id="myUL" class="productUL">
                    <p>
                      <li>
                        <a ng-href="{{x.url}}" target="_blank">{{x.company}}</a>
                      </li>
                    </p>
                  </ul>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>

      <footer class="footer footer-big">
        <div class="container">
          <div class="bottom-footer-content">
            <div class="copyright text-center">
              BMT Micro, Inc. Copyright © 1992 - <script type="text/JavaScript"> document.write(new Date().getFullYear()); </script>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <div id="topcontrol" title="Scroll to Top">

        <svg xmlns="http://www.w3.org/2000/svg" class="scrollup-svg-icon" width="32" height="32" viewBox="0 0 24 24">
          <path d="M12 2q0.4 0 0.7 0.3l7 7q0.3 0.3 0.3 0.7 0 0.4-0.3 0.7t-0.7 0.3q-0.4 0-0.7-0.3l-5.3-5.3v15.6q0 0.4-0.3 0.7t-0.7 0.3-0.7-0.3-0.3-0.7v-15.6l-5.3 5.3q-0.3 0.3-0.7 0.3-0.4 0-0.7-0.3t-0.3-0.7q0-0.4 0.3-0.7l7-7q0.3-0.3 0.7-0.3z"></path>
        </svg>

    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/index.js"></script>
  <script type="text/javascript" src="../js/sewingList.js"></script>
</body>
</html>
