<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>BMT Micro Online Catalog</title>
  <meta name="keywords" content="shareware registration, ecommerce,
  software distribution, registration service, developer services, online
  sales, software registration service, credit card, key generator,
  trialware, demo, Windows, OS/2, Linux, BMT Micro, games, serial number,
  key code, Software, Sales, Order, Fullfillment, Reseller" />
  <meta name="description" content="BMT Micro, Inc. is the Software
  Developer's company of choice for product promotion, distribution,
  sales, order fulfillment and customer service. Featuring an Online
  Catalog with easy shopping!" />
  <meta name="robots" content="index,follow">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <link rel="stylesheet" href="../css/navbar.css" type="text/css">
  <link rel="stylesheet" href="../css/top-header.css" type="text/css">
  <link rel="stylesheet" href="../css/body.css" type="text/css">
  <link rel="stylesheet" href="../css/footer.css" type="text/css">
  <link rel="stylesheet" href="../css/responsive.css" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script language="javascript"
  src="http://www.bmtmicro.com/resources/cart/cart.js"></script>
  <style media="screen" type="text/css">
    #tier-option {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      padding: 0px !important;
      -webkit-box-shadow: 0px 9px 62px -25px rgba(0,0,0,1);
      -moz-box-shadow: 0px 9px 35px -25px rgba(0,0,0,1);
      box-shadow: 0px 9px 50px -19px rgba(0,0,0,1);
    }

    .tier-header {
      background-color: #dcdcdc;
    }

    .tier-header h5 {
      padding: 20px;
      margin-bottom: 0px;
      font-size: 22px;
      color: #000000;
      letter-spacing: .7px;
    }

    .tier-rate {
      background-color: #e8e8e8;
    }

    .tier-rate p {
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: .7px;
    }

    .tier-info p {
      margin-top: 15px;
      font-size: 14px;
      padding: 0 10px;
    }

    .signup-btn {
      background-color: #ef9a00;
      border: none;
      font-weight: 600;
      padding: 10px 20px;
      margin-bottom: 30px;
      margin-top: 15px;
      letter-spacing: .7px;
      color: #ffffff;
      font-size: 18px;
      border-radius: 8px;
      -webkit-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
      -moz-box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
      box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    }
    .signup-btn:hover {
      background-color: #195a7c;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <nav class="navbar navbar-default navbar-fixed-top navbar-color-on-scroll navbar-transparent center">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-toggle-wrapper">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="sr-only">Toggle Navigation</span>
              </button>
            </div>
          </div>
          <div id="main-navigation" class="collapse navbar-collapse" aria-expanded="false" style="height: 0px;">
            <ul id="menu-top-menu" class="nav navbar-nav">
              <li id="menu-item" class="top-menu menu-item">
                <a title="Home" href="../index.html">Home</a>
              </li>
              <li id="menu-item" class="top-menu menu-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" title="Catalog" href="catalog.html">Catalog</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a href="productList.html" class="dropdown-item">Product List</a>
                  <a href="sewingProducts.html" class="dropdown-item">Sewing Products</a>
                </div>
              </li>
              <li id="menu-item" class="top-menu menu-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" title="Catalog" href="#" aria-expanded="false" style="color: #EF9A00;">Developers</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a href="faqPage.html" class="dropdown-item">FAQ</a>
                  <a href="servicesPage.html" class="dropdown-item">Services</a>
                  <a href="" class="dropdown-item" style="color: #EF9A00;">Signup Plans</a>
                  <a href="https://vendors.bmtmicro.com/NewSignup/new_developer-signup.html" class="dropdown-item" target="_blank">Signup Form</a>
                </div>
              </li>
              <li id="menu-item" class="top-menu menu-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" href="#" aria-expanded="false">Help</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a href="https://help.bmtmicro.com/customers/" target="_blank" class="dropdown-item">Customers</a>
                  <a href="https://help.bmtmicro.com/vendors/" target="_blank" class="dropdown-item">Vendors</a>
                </div>
              </li>
              <li id="menu-item" class="top-menu menu-item">
                <a title="Contact" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="primary" class="boxed-layout-header page-header header-small" data-parallax="active">
      <div class="header-filter header-filter-gradient"></div>
    </div>
<!-- Start of the actual body content -->
    <div class="main main-raised">
      <div class="content">
        <div class="container">
          <article class="section section-text">
            <div class="row justify-content-center">
              <div class="col-lg-3 col-md-12 sidebar-wrapper">
                <aside class="sidebar" id="secondary" role="complementary">
                  <div class="media-image">
                    <a href="../index.html">
                      <img src="../images/bmt-micro-logo.png" alt="BMT Micro, Inc." width="250" height="72" class="image attachment-full size-full" style="max-width: 100%; height: auto;">
                    </a>
                  </div>
                  <div class="social-icons">
                    <a href="https://www.facebook.com/bmt.micro" target="_blank">
                      <img src="../images/facebook-logo-circle-blue.png" alt="Facebook" title="Facebook">
                    </a>
                    <a href="https://www.linkedin.com/company/bmt-micro-wilmington-nc-usa/" target="_blank">
                      <img src="../images/linkedin-icon-logo-blue.png" alt="Linkedin" title="Linkedin">
                    </a>
                    <a href="https://twitter.com/BMTMicro" target="_blank">
                      <img src="../images/twitter-3-logo-blue.png" alt="Twitter" title="Twitter">
                    </a>
                    <a href="https://plus.google.com/+Bmtmicro" target="_blank">
                      <img src="../images/google-plus-blue.png" alt="Google Plus" title="Google+">
                    </a>
                    <a href="https://www.pinterest.com/bmtmicro/" target="_blank">
                      <img src="../images/pinterest-3-logo-png-blue.png" alt="Pinterest" title="Pinterest">
                    </a>
                  </div>
                </aside>
              </div>
              <div class="col-md-8 page-content-wrap">
                <div class="row">
                  <div class="col-md-12">
                    <h1 class="page-title title-in-content">Signup Plans</h1>
                    <p><button id="compare">Compare Plans</button></p>
                    <p><button id="back" style="display: none;">Back</button></p>
                  </div>
                </div>
                <p id="scroll-text">
                  Scroll down to see the different tiers and their features.
                </p>
                <div id="table" class="table" style="display: none;">
                  <p>COMPARISON TABLE</p>
                </div>
                <div id="tier-content">
                  <div id="tier-option" class="col-md-8 border rounded-top" style="margin-bottom: 4.5rem;">
                    <div class="tier-header text-center">
                      <h5><strong>Basic Tier</strong></h5>
                    </div>
                    <div class="tier-rate text-center" style="padding: 10px;">
                      <p>8.9% flat</p>
                      <p>or</p>
                      <p style="margin-bottom: 0px;">5.9% + $1</p>
                    </div>
                    <div class="tier-info text-center">
                      <p>All orders online (no phone support, demo hosting, or mail/fax orders)</p>
                      <hr>
                      <p>No virtual products</p>
                      <hr>
                      <p>No purchase orders</p>
                      <hr>
                      <p>Downloadable or generated key fulfillment (by BMT only)</p>
                      <hr>
                      <p>Receive your payment in USD</p>
                      <hr>
                      <p>Accept payments in more than 30 currencies</p>
                      <hr>
                      <p>Shopping cart in multiple languages</p>
                      <hr>
                      <p>paysafecard – 20% per transaction</p>
                      <hr>
                      <p>* Minimum Fee - $1.25</p>
                    </div>
                    <hr>
                    <div class="text-center">
                      <a href="https://vendors.bmtmicro.com/NewSignup/new_developer-signup.html" target="_blank"><button type="button" name="button" class="signup-btn">Sign Up Today!</button></a>
                    </div>
                  </div>
                  <div id="tier-option" class="col-md-8 border rounded-top" style="margin-bottom: 4.5rem;">
                    <div class="tier-header text-center">
                      <h5><strong>Advanced Tier</strong></h5>
                    </div>
                    <div class="tier-rate text-center" style="padding: 10px;">
                      <p>9.5%</p>
                      <p>or</p>
                      <p style="margin-bottom: 0px;">4.9% + $2</p>
                    </div>
                    <div class="tier-info text-center">
                      <p>Vendor, remote or BMT fulfillment</p>
                      <hr>
                      <p>Purchase orders</p>
                      <hr>
                      <p>Phone ordering (with live customer service representative)</p>
                      <hr>
                      <p>Mail/fax orders</p>
                      <hr>
                      <p>Accept payments in more than 30 currencies</p>
                      <hr>
                      <p>Shopping cart in multiple languages</p>
                      <hr>
                      <p>Shopping cart customized to your needs</p>
                      <hr>
                      <p>paysafecard – 20% per transaction</p>
                      <hr>
                      <p>* Minimum Fee - $1.25</p>
                    </div>
                    <hr>
                    <div class="text-center">
                      <a href="https://vendors.bmtmicro.com/NewSignup/new_developer-signup.html" target="_blank"><button type="button" name="button" class="signup-btn">Sign Up Today!</button></a>
                    </div>
                  </div>
                  <div id="tier-option" class="col-md-8 border rounded-top" style="margin-bottom: 15px;">
                    <div class="tier-header text-center">
                      <h5><strong>Customized Add-On's</strong></h5>
                    </div>
                    <div class="tier-rate text-center" style="padding: 10px;">
                      <p>Contact BMT</p>
                      <p>for</p>
                      <p style="margin-bottom: 0px;">Add-On Pricing</p>
                    </div>
                    <div class="tier-info text-center">
                      <p>Advanced custom programming</p>
                      <hr>
                      <p>Marketing services with blog and Facebook, promoting Vendor products</p>
                      <hr>
                      <p>Micro-transaction processing</p>
                      <hr>
                      <p style="font-size: 16px;"><strong>Need a service that is not listed? Contact us! We can customize our plans to suit your business needs.</strong></p>
                    </div>
                    <hr>
                    <div class="text-center">
                      <a href="contact.html"><button type="button" name="button" class="signup-btn">Contact us for pricing!</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <footer class="footer footer-big">
        <div class="container">
          <div class="bottom-footer-content">
            <div class="copyright text-center">
              BMT Micro, Inc. Copyright © 1992 - 2018
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div id="topcontrol" title="Scroll to Top">
      <svg xmlns="http://www.w3.org/2000/svg" class="scrollup-svg-icon" width="32" height="32" viewBox="0 0 24 24">
        <path d="M12 2q0.4 0 0.7 0.3l7 7q0.3 0.3 0.3 0.7 0 0.4-0.3 0.7t-0.7 0.3q-0.4 0-0.7-0.3l-5.3-5.3v15.6q0 0.4-0.3 0.7t-0.7 0.3-0.7-0.3-0.3-0.7v-15.6l-5.3 5.3q-0.3 0.3-0.7 0.3-0.4 0-0.7-0.3t-0.3-0.7q0-0.4 0.3-0.7l7-7q0.3-0.3 0.7-0.3z"></path>
      </svg>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>
